extends ../layout.pug

block content
  main.page-content
    section.ticket
      div.ticket__wrapper
        h1.visually-hidden Карточка объявления
        div.ticket__content
          div.ticket__img
            img(src=`/img/${item.picture}` alt=item.title)
          div.ticket__info
            h2.ticket__title #{item.title}
            div.ticket__header
              p.ticket__price
                span.js-sum #{item.sum}
                |  ₽
              p.ticket__action
                +ticketLabel(item.offerType.name)
            div.ticket__desc
              p #{item.description}
            div.ticket__data
              p
                b Дата добавления:
                span
                  | 20 ноября 2019
              p
                b Автор:
                a(href="#")
                  | Денис Шкатулкин
              p
                b Контакты:
                a(href="mailto:shkatulkin@ya.ru")
                  | shkatulkin@ya.ru
            ul.ticket__tags
              each category in item.categories
                li
                  a.category-tile.category-tile--small(href=`/category/${category.id}`)
                    span.category-tile__image
                      +categoryImage(category)
                    span.category-tile__label #{category.name}
        div.ticket__comments
          h2.ticket__subtitle Коментарии
          div.ticket__comment-form
            form.form.comment-form(action="#" method="post")
              div.comment-form__header
                a.comment-form__avatar.avatar(href="#")
                  img(src="/img/avatar.jpg" srcset="/img/avatar@2x.jpg 2x" alt="Аватар пользователя")
                p.comment-form__author Вам слово
              div.comment-form__field
                div.form__field
                  textarea#comment-field.js-field(name="comment" cols="30" rows="10" maxlength="400" minlength="50") Нормальное вообще кресло! А как насч
                  label(for="comment-field") Текст комментария
                  span Обязательное поле
              button.comment-form__button.btn.btn--white.js-button(type="submit" disabled="") Отправить
          div.ticket__comments-list
            +commentsList(item.comments)
