extends layout.pug

block content
  main.page-content
      section.sign-up
        form.sign-up__form.form(action="/register" method="POST" enctype="multipart/form-data" autocomplete="off")
          div.sign-up__title
            h2 Регистрация
            a.sign-up__link(href="/login") Вход
          div.sign-up__avatar-container.js-preview-container
            div.sign-up__avatar.js-preview
            div.sign-up__field-avatar
              input#avatar.visually-hidden.js-file-field(type="file" name="avatar")
              label(for="avatar")
                span.sign-up__text-upload Загрузить аватар…
                span.sign-up__text-another Загрузить другой аватар…
          div.form__field.sign-up__field
            input#user-firstname.js-field(value=registerPayload.firstName type="text" name="firstName" required)
            label(for="user-firstname") Имя
          div.form__field.sign-up__field
            input#user-lastname.js-field(value=registerPayload.lastName type="text" name="lastName" required)
            label(for="user-lastname") Фамилия
          div.form__field.sign-up__field
            input#user-email.js-field(value=registerPayload.email type="email" name="email" required)
            label(for="user-email") Эл. почта
          div.form__field.sign-up__field
            input#user-password.js-field(value=registerPayload.password type="password" name="password" required)
            label(for="user-password") Пароль
          div.form__field.sign-up__field
            input#user-password-again.js-field(value=registerPayload.repeatedPassword type="password" name="repeatedPassword" required)
            label(for="user-password-again") Пароль еще раз
          +errorList(errorMessages)
          button.sign-up__button.btn.btn--medium.js-button(type="submit" disabled) Создать аккаунт
